# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

*.class
*.log

# sbt specific
.cache/
.history/
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet
.idea
.bsp

app/src/main/resources/scenarios/*
data/sqlite/nextiaqr.db

TestScenarioRunnerDataset/

nexitaqr.db

NextiaQR/*

.DS_Store

out



